# IntelliJ
#--------------------------------------------------

.idea/
*.iml

# Maven
#--------------------------------------------------

/target/

# Vaadin
#--------------------------------------------------

/frontend/generated/
/frontend/index.html

# Node/NPM
#--------------------------------------------------

/node_modules/
